.App {
  text-align: center;
}

.inputLabel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.toggle > img {
  width: 48px;
  height: 48px;
  object-fit: cover;
  cursor: pointer;
}
